# ==========================================
# 1. SERVER CONFIG
# ==========================================
# Next.js chạy cổng 3000 rồi, nên NestJS phải chạy 3001
PORT=3001
CLIENT_URL=http://localhost:3000
API_PUBLIC_URL=http://localhost:3001

# ==========================================
# 2. DATABASE (Supabase / PostgreSQL)
# ==========================================
DATABASE_URL=

# ==========================================
# 3. AUTHENTICATION (JWT & GOOGLE)
# ==========================================
# Gõ bừa một chuỗi dài ngoằng làm khóa bí mật mã hóa Token
JWT_SECRET=
JWT_EXPIRES_IN=

# ==========================================
# 4. GOOGLE OAUTH
# ==========================================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# ==========================================
# 4. CLOUDINARY (Lưu trữ ảnh)
# ==========================================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==========================================
# 5. MAILER (Gửi email hóa đơn/OTP)
# ==========================================
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# ==========================================
# 6. AI CONSULTANT (Gemini AI)
# ==========================================
GEMINI_API_KEY=
GEMINI_MODEL=

MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=